*{
  box-sizing: border-box;
  padding:0;
  margin:0;
  outline: 0 !important;
}
body{
  height:100%;
  position: relative;
}
a,a:hover,a:active,a:visited{
  color:inherit;
  text-decoration: none;
}
html{
  height: 100%;

}
.clear{
  clear: both;
}
.main{
  position: relative;
}
.menu{
  width:300px;
  padding-top: 20px;
  padding-left: 10px;
  text-align: center;
  background-color: green;
  height:100%;
}

.menu h2{
  font-size: 30px;
}

.menuIcon{
  padding: 20px;
}
div .logBtn{
  height:20px;
  margin-left: 20px;
}

.actionItem{
  cursor:pointer;
  padding-left: 10px;
}

.actionItem:hover{
  background:rgba(0,0,0,.1)
}

.actionItem:last-child{
  border-bottom: none;
}

.actionItemDetails{
  display:inline-block;
  float:left;
  margin-left: 50px;
  max-width: 500px;
  line-height: 20px;
}
.actionItemDetails span{
  font-weight: bold;
}
.actionItemlist{

}

#redactItem{
  cursor:pointer;
}
